---
import { Image } from "astro:assets";
import LayoutPage from "../layouts/LayoutPage.astro";
import { novedades } from "../store/desarrollosynovedades";

---

<LayoutPage title="Novedades Fainox">
  <section
    class="w-full h-auto flex flex-col justify-center items-center py-16 md:py-20 lg:pt-36"
  >
    <h1
      class="w-[80%] md:w-[70%] pb-10 text-center text-colorBlue font-semibold md:leading-7 lg:leading-10 text-2xl lg:text-4xl"
    >
      Aqui algunos de nuestros desarrollos!
    </h1>

    <div
      class="flex flex-col px-4 md:px-14 xl:px-24 justify-center w-full items-center gap-36 py-10 lg:py-16"
    >
      {
        novedades.map(({ title, description, images, video }) => (
          <div class="w-full h-auto flex flex-col gap-5 items-center justify-center">
            <div class="w-full flex flex-col justify-start">
              <p class="text-colorBlue">Nombre del equipo:</p>
              <h2 class="text-colorBlue py-1 font-semibold text-3xl">{title}</h2>
            </div>
            <div class="flex flex-col lg:flex-row w-full gap-2 h-full justify-center items-center">
              {
                video
                &&
                <video
                autoplay 
                loop 
                muted
                class="shadow-lg h-[600px]">
                  <source src={video} type="video/mp4"/>
                </video>
              }
              <div class="max-w-[370px] max-h-[370px] lg:max-w-[600px] lg:max-h-[600px] flex flex-wrap gap-2 justify-center">
                {
                  images.map((image) => (
                    <Image
                            class="object-cover h-[180px] w-[180px] lg:h-[292px] lg:w-[292px]"
                            width={300}
                            height={300}
                            src={image}
                            alt={title}
                          />
                  ))
                }
              </div>
            </div>
            <div class="px-1 w-full lg:px-10 flex flex-col gap-5">
              <div class="flex flex-col justify-start">
                <p class="text-colorBlue">Descripción:</p>
                <p class="text-gray-500 text-lg text-justify">{description}</p>
              </div>
            </div>
          </div>
        ))
      }
    </div>

    <div class="w-full flex flex-col justify-center items-center"></div>
  </section>
</LayoutPage>
