---
import ButtonCotizacion from "../../../components/tsx/ButtonCotizacion";
import ProductForLists from "../../../components/tsx/ProductForLists";
import LayoutPage from "../../../layouts/LayoutPage.astro";
import { productos } from "../../../store/productos";
import { suministrosycomponentes, equiposdelavado, serviciosingenieria } from "../../../store/suministrosycomponentes";
import { productosyservicios } from "../../../store/typeProductos";
import type { Product } from "../../../store/types/product";
import { capitalize } from "../../../utils/capitalize";

export const prerender = true;

export function getStaticPaths() {
  const paths = productosyservicios.flatMap((service) =>
    service.services.map((subpagina) => ({
      params: {
        servicio: service.name.toLowerCase().replaceAll(" ", "-"),
        servicioyproducto: subpagina.name.toLowerCase().replaceAll(" ", "-"),
      },
    }))
  );
  return paths;
}

const { servicio, servicioyproducto } = Astro.params;

let listProductos: any = [];
let listService: any = [];
let listEquipos: any = [];
let serviciosdeingenieria: any = [];

if (servicio == "desarrollo-de-equipos-para") {
  listProductos = productos.filter((product) =>
    product.product.includes(servicioyproducto)
  );
} else if (servicio == "suministros-y-componentes") {
  listService = suministrosycomponentes.filter((suministro) => suministro.name === servicioyproducto);
} else if (servicio == "equipos-y-sistemas-de-lavado") {
  listEquipos = equiposdelavado.filter((equipo) => equipo.name.toLowerCase().replaceAll(' ', '-') === servicioyproducto);
} else if (servicio == "servicios-de-ingenieria") {
  serviciosdeingenieria = serviciosingenieria.filter((servicio) => servicio.name.toLowerCase().replaceAll(' ', '-') === servicioyproducto);
}

var name = ""
if (servicioyproducto == "sistemas-de-lavado-cip") {
  name = "Sistemas de lavado CIP"
} else if (servicioyproducto == "ingeniería-conceptual,-presupuestal-y-de-detalle") {
  name = "Ingeniería Conceptual, Presupuestal y de Detalle"
} else if (servicioyproducto == "montajes-industriales") {
  name = "Montajes Industriales"
} else if (servicioyproducto == "consultoria-y-asistencia-de-proyectos") {
  name = "Consultoria y Asistencia de Proyectos"
} else if (servicioyproducto == "cabinas-y-tuneles-de-lavado") {
  name = "Cabinas y Tuneles de Lavado"
}

---

<LayoutPage
  title={`${capitalize(servicio)} - ${servicioyproducto} - Fainox Group`}
>
  <section class="px-5 mt-32 md:px-20 xl:px-32 flex flex-col w-full">
    <h1
      class="text-4xl font-bold text-center text-colorBlue py-7">
      {
        name 
          ? 
          name
          :
          capitalize(servicioyproducto).replaceAll("-", " ")
      }
    </h1>
    <!-- Productos por servicio -->
    {
      listProductos.length > 0 && (
        <h3 class="mt-4">Equipos encontrados: {listProductos.length}</h3>
        <div class="flex flex-wrap gap-6 justify-center items-center py-10 md:px-10 md:py-5">
          {
              listProductos.map((product: Product) => (
                  <ProductForLists {...product} client:load/>
              ))
          }
        </div>
      )
    }
    <!-- Suministros y componentes -->
    {
      listService.length > 0 && (

        <h3 class="text-lg text-gray-700 m-5 text-center">{listService[0].list.description}</h3>
        <div class="flex flex-wrap gap-6 justify-center items-center py-10 md:px-10 md:py-5">
          {
              listService[0].list.products.map((product: Product) => (
                  <ProductForLists {...product} client:load />
              ))
          }
        </div>
      )
    }
    <!-- Equipos y sistemas de lavado -->
    {
      listEquipos.length > 0 && (
        <div class="">
          <div class="flex flex-wrap gap-10 justify-center my-10">
            {
              listEquipos[0].data.imagenes.map((image: any, index: number) => (
                <img
                  src={image}
                  alt={`${listEquipos[0].name}-${index}`} 
                  class="h-[400px] w-[400px] object-cover rounded-xl" />
              ))
            }
          </div>
          <h3 class="text-lg text-gray-700 m-5 text-center">{listEquipos[0].data.descripcion}</h3>
          <div class="w-full flex justify-end">
            <ButtonCotizacion client:load name={listEquipos[0].name} />
          </div>
        </div>
      )
    }
    {
      serviciosdeingenieria.length > 0 && (
        <div class="flex flex-col gap-5">
          <img
            class={`
              w-auto object-contain shadow-black rounded-2xl py-5 h-[500px]
              ${serviciosdeingenieria[0].name === "ingeniería conceptual, presupuestal y de destalle" ? "rotate-90 mx-auto" : ""}
              `}
            alt={serviciosdeingenieria[0].name}
            src={serviciosdeingenieria[0].image} alt={serviciosdeingenieria[0].name}/>
          <h3 class="text-lg text-gray-700 m-5 text-center">{serviciosdeingenieria[0].description}</h3>
        </div>
      )
    }
  </section>
</LayoutPage>
