---
import LayoutPage from "../../layouts/LayoutPage.astro";
import { productos } from "../../store/typeProductos";
import { productos as listProducts } from "../../store/productos";
import { capitalize } from "../../utils/capitalize";
import ProductoForList from "../../components/industrias/productoForList.astro";
import Search from '../../icons/search.astro'

export const prerender = true;

export function getStaticPaths() {
  return productos.map((producto) => ({
    params: { category: producto },
  }));
}
const { category } = Astro.params;

const filterProductsCategory = listProducts.filter(
  (product) => product.linea === category
);
---

<LayoutPage title={`${capitalize(category)} - Fainox Group`}>
  <section class="w-full relative flex flex-col justify-center items-center lg:grid lg:grid-cols-4 gap-4 md:px-20">
    {/* Aside para pantallas grandes */}
    <aside
      class="sticky hidden lg:block top-24 left-0 w-[350px] h-[70vh] border-2 border-blue-200 p-4 shadow-box-black rounded-md overflow-auto"
    >
      <ul class="px-2 py-2 flex flex-col gap-2">
        {
          productos.map(product => (
            <li class={`w-full bg-blue-100/30 rounded-lg hover:bg-blue-300 ${product === category && "bg-blue-800 text-white"}`}>
              <a class="block w-full px-5" href={`/productos/${product}`}>{capitalize(product)}</a>
            </li>
          ))
        }
      </ul>
    </aside>

    {/* Nav para pantallas pequeñas */}
    <nav class="w-full flex justify-center items-center lg:hidden relative">
      <!-- Botón para desplegar el menú -->
      <button
        class="w-full flex flex-row justify-center items-center gap-5 bg-gray-100 py-2 text-center font-bold rounded-md
        cursor-pointer hover:bg-gray-200 focus:outline-none peer text-gray-600"
      >
          Buscar Productos
          <Search />
      </button>
    
      <!-- Menú desplegable -->
      <ul
        class="absolute top-full z-50 mt-2 w-full max-h-60 overflow-auto bg-white border border-gray-300
        rounded-md shadow-lg hidden peer-focus:block"
      >
        {productos.map((product) => (
          <li class="border-b z-50 border-gray-300 last:border-none">
            <a href={`/productos/${product}`} class="block px-4 py-2 hover:bg-gray-100">
              {capitalize(product)}
            </a>
          </li>
        ))}
      </ul>
    </nav>
    

    <div
      class="w-full col-span-3 flex flex-col justify-around items-center md:overflow-y-auto h-full scroll-hidden"
    >
      <h1 class="text-4xl text-colorBlue font-bold">{capitalize(category)}</h1>
      <p class="text-right text-lg text-gray-500 font-semibold mb-6">
        Productos encontrados: {filterProductsCategory.length}
      </p>
      <div class="flex w-full flex-wrap gap-10 justify-center items-center">
        {
          filterProductsCategory.map((product) => (
            <ProductoForList {...product} />
          ))
        }
      </div>
    </div>
  </section>
</LayoutPage>

<script>
  const selected = document.getElementById("product-select")
  if (selected) {
    selected.addEventListener("change", (e) => {
      const selectedProduct = e.target as HTMLSelectElement
      const valueSelect = selectedProduct.value
      if (valueSelect) {
        window.location.href = `/productos/${valueSelect}`;
      }
    });
  }  
</script>