---
import { Image } from "astro:assets";
import LayoutPage from "../layouts/LayoutPage.astro";
import Map from "../components/tsx/Map";
const offices = [
  {
    classStyle: "absolute top-0 left-0 w-full h-full clip-left flex",
    classImage: "w-[60%] absolute object-cover md:object-container top-0 h-[100%] brightness-50 hover:brightness-75 transition-all duration-200",
    title: "Sede Administrativa y Comercial",
    city: "Colombia: Calle 8 No 37-46 Local # 100, C.C. La Catedral, Zipaquirá - Cundinamarca, Colombia.",
    address: "Quito: Avenida Los Aceitunos y Eloy Alfaro. Quito, Ecuador.",
    image: "/offices/office1.webp",
  },
  {
    classStyle: "absolute top-0 right-0 w-full h-full clip-right flex",
    classImage: "w-[60%] absolute top-0 h-[100%] brightness-50 hover:brightness-75 transition-all duration-200",
    title: "Sede de Fabricación  y Desarrollo",
    city: "Colombia: Planta de producción Barrio Carvajal",
    address: "Quito: Avenida Los Aceitunos y Eloy Alfaro. Quito, Ecuador.",
    image: "/servicios/fabricacion1.webp",
  },
];
---

<LayoutPage title="Contacto - Fainox">
  <section class="w-full h-auto"> <!-- py-20 px-10 -->
    <div class="py-20 px-10">
      <h1 class="text-colorBlue font-bold text-5xl">Contacto</h1>
      <p class="p-5 text-gray-600 text-lg">
        Si quieres contartarte con alguno de nuestros asesores pueden hacerlo
        atravez de uno de nuestros canales:
      </p>
      <ul class="flex flex-col gap-3 px-10 text-gray-700 list-disc">
        <li>
          <span class="font-bold">
            División Comercial
          </span>
          <p>
            Teléfonos (+57) 3241390907, (+57) 3223369750, (+57) 3144687182
          </p>
        </li>
      <li>
          <span class="font-bold">
            División Técnica y Desarrollo
          </span>
          <p>
            Teléfono (+57) 3223369750
          </p>
        </li>

      </ul>

    </div>

    <div class="relative h-[300px] md:h-[400px] lg:h-[500px] xl:h-[500px] w-full">

      <!-- <div class="flex flex-wrap justify-center items-start gap-20 py-16"> -->
        {
          offices.map(({classStyle, classImage, title, address, image, city}, index) => (
            <div class={`${classStyle} ${index % 2 === 0 ? "flex-col" : "relative flex-col-reverse"}`}>
              <Image
                // class="object-cover w-[55%] h-[250px] md:h-[300px] shadow-xl rounded-xl"
                class={`${index % 2 === 0 ? `${classImage} left-0` : `${classImage} right-0`}`}
                width={300}
                height={300}
                src={image}
                alt={title}
              />
              <div class={`absolute group w-[45%] lg:w-full z-50 text-white p-5 flex flex-col gap-2 top-0 lg:top-10 ${index % 2 === 0 ? "left-0" : "right-0 justify-center place-items-end"}`}>
                <h2 class="pt-5 md:text-xl lg:text-2xl font-semibold">{title}</h2>
                <p class="font-light md:font-normal transition-all duration-200 text-white text-xs xl:text-base">{city}</p>
                <p class="font-light md:font-normal transition-all duration-200 text-white text-xs xl:text-base">{address}</p>
              </div>
  
            </div>
          ))
        }

    </div>

    <div class={`h-[100px] brightness-90 hover:brightness-100 hover:h-[400px] transition-all duration-500 z-1000`}>
      <Map  client:load />
    </div>


  </section>
</LayoutPage>
