---
import { Image } from "astro:assets";
import LayoutPage from "../layouts/LayoutPage.astro";
const offices = [
  {
    title: "Sede Administrativa y Comercial",
    city: "Sede Colombia: Calle 8 No 37-46 Local # 100, C.C. La Catedral, Zipaquirá - Cundinamarca, Colombia.",
    address: "Sede Quito: Avenida Eloy Alfaro. Quito, Ecuador.",
    phone: "(+57) 3241390907, (+57) 3223369750, (+57) 3144687182",
    image: "/offices/office1.webp",
  },
  {
    title: "Sede de Fabricación  y Ensamble",
    city: "Sede Colombia: Planta de producción Barrio Carvajal",
    address: "Sede Quito: Avenida Eloy Alfaro. Quito, Ecuador.",
    phone: "(+57) 3241390907, (+57) 3223369750, (+57) 3144687182",
    image: "/offices/office2.webp",
  },
];
---

<LayoutPage title="Contacto - Fainox">
  <section class="w-full py-20 px-10">
    <h1 class="text-colorBlue font-bold text-5xl">Contacto</h1>
    <p class="p-5 text-gray-600 text-lg">
      Si quieres contartarte con alguno de nuestros asesores pueden hacerlo
      atravez de uno de nuestros canales:
    </p>
    <ul class="px-10 text-gray-700 list-disc">
      <li>
        Quieres vender alguno producto: <a
          href="/equiposusados"
          class="text-colorBlue font-bold">Aqui!</a
        >
      </li>
      <li>
        Quieres recibir una Cotizacion de los prodcutos que seleccionaste: <a
          href="/cotizacion"
          class="text-colorBlue font-bold">Aqui!</a
        >
      </li>

    </ul>
    <p class="p-5 text-gray-600">
      Si no a continuacion podras conocer nuestras diferentes sedes y lineas en
      las cuales nos podras contactar.
    </p>

    <div class="flex flex-wrap justify-center items-start gap-20 py-16">
      {
        offices.map(({ title, address, phone, image, city }) => (
          <div class="w-[320px] md:w-[400px] h-auto gap-y-2 flex flex-col">
            <Image
              class="object-cover w-full h-[250px] md:h-[300px] shadow-xl rounded-xl"
              width={300}
              height={300}
              src={image}
              alt={title}
            />
            <h2 class="text-colorBlue pt-5 text-2xl font-semibold">{title}</h2>
            <p class="text-gray-500 text-sm">{city}</p>
            <p class="text-gray-500 text-sm">{address}</p>
            <p class="text-gray-500 text-sm">Telefonos: {phone}</p>
          </div>
        ))
      }
    </div>

    <!-- <div id="tyc" class="p-5 md:p-20 flex flex-col md:flex-row gap-20">
      <div>
        <h4 class="text-colorBlue text-3xl font-semibold mb-3">Terminos</h4>
        <p class="text-gray-600 text-sm">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
      <div>
        <h4 class="text-colorBlue text-3xl font-semibold mb-3">Condiciones</h4>
        <p class="text-gray-600 text-sm">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
    </div> -->
  </section>
</LayoutPage>
