---
import { Image } from "astro:assets";
const services = [
  {
    name: "Proyectos",
    description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
    image: "proyectos.webp",
    classDiv: "relative group bg-gray-400 row-span-2 col-span-1 rounded-xl overflow-hidden hover:shadow-box-black",
    classImage: "w-full h-full object-cover rounded-xl brightness-75 group-hover:brightness-50 transition-all duration-200",
    info: true
  },
  {
    name: "Fabricación",
    description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
    image: "fabricacion.webp",
    classDiv: "relative group bg-gray-400 row-span-1 rounded-xl col-span-2 hover:shadow-box-black",
    classImage: "w-full h-full lg:h-[270px] object-cover object-bottom rounded-xl brightness-75 group-hover:brightness-50 transition-all duration-200",
    info: true
  },
  {
    name: "Todos los Servicios Fainox",
    description: "",
    image: "helpers.webp",
    classDiv: "bg-gray-400 rounded-xl row-start-2 row-end-4 col-start-2 col-end-4",
    classImage: "w-full h-full object-cover rounded-xl",
    info: false
  },
  {
    name: "Automatización & Control",
    description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
    image: "automatizacion.webp",
    classDiv: "relative group rounded-xl bg-gray-400 row-start-3 col-start-1 row-span-2 hover:shadow-box-black",
    classImage: "w-full h-full object-cover rounded-xl brightness-75 group-hover:brightness-50 transition-all duration-200",
    info: true
  },
  {
    name: "Capacitación",
    description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
    image: "capacitacion.webp",
    classDiv: "relative group rounded-xl bg-gray-400 row-start-4 col-start-2 col-end-4 hover:shadow-box-black",
    classImage: "w-full h-full lg:h-[270px] object-cover rounded-xl brightness-75 group-hover:brightness-50 transition-all duration-200",
    info: true
  },
  {
    name: "Montajes",
    description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
    image: "montajes.webp",
    classDiv: "relative group rounded-xl bg-gray-400 row-start-1 row-end-3 col-start-4 hover:shadow-box-black",
    classImage: "w-full h-full object-cover rounded-xl brightness-75 group-hover:brightness-50 transition-all duration-200",
    info: true
  },
  {
    name: "Soporte & Mantenimiento",
    description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
    image: "soporte.webp",
    classDiv: "relative group rounded-xl bg-gray-400 row-start-3 row-end-5 hover:shadow-box-black",
    classImage: "w-full h-full object-cover rounded-xl brightness-75 group-hover:brightness-50 transition-all duration-200",
    info: true
  },
];
---

<section class="flex flex-col justify-center items-center gap-5 mb-20 mt-40">

  <h1 class="text-colorBlue text-center px-5 md:px-0 text-3xl lg:text-5xl font-bold mb-10">Servicios y Soportes Fainox Group</h1>

  <div class="w-full p-2 lg:p-0 lg:w-[80%] h-[60vh] lg:h-[1000px] xl:h-[1100px] aspect-square lg:aspect-[18/14] grid grid-rows-4 grid-cols-4 gap-2 md:gap-10">

    {
      services.map(({name, description, image, classDiv, classImage, info}) => (

        <div class={`${classDiv}`}>
          <Image
            src={`/servicios/${image}`}
            alt={`${name} - Fainox Group`}
            class={classImage}
            width={200}
            height={400}
          />
          {
            info
            &&
            <div
              class="absolute bottom-0 left-[2px] md:left-2 transition-transform duration-300 ease-in-out transform group-hover:-translate-y-3"
              >
              <h1 class="text-white sm:px-4 text-[10px] md:text-xl lg:text-2xl font-semibold">{name}</h1>
              <p
                class="text-white text-[6px] pr-3 md:text-lg w-full h-5 group-hover:h-full transition-opacity duration-200
                ease-in-out opacity-0 group-hover:opacity-100 group-hover:translate-y-1"
                >
                {description}
              </p>
            </div>
          }
        </div>
      ))
    }
  </div>
</section>

