---
import ArrowDown from "../icons/arrowDown.astro";
import HoverLinkIndustrias from "./hoverLinkIndustrias.astro";
import HoverLinkProductos from "./hoverLinkProductos.astro";

const { link, name, typeLink } = Astro.props;
---

<li
  class="group relative"
  >
  {
    typeLink
    ?
    <a
      href={`/${link}`}
      class="flex flex-row justify-center gap-2 items-center text-sm lg:text-base hover:text-blue-600
      text-colorBlue font-bold py-0 my-8 md:my-0 md:py-4 transition-all duration-200" aria-keyshortcuts={link}>
      <p class="text-center">
        {name}
      </p>
      {
        (link === "nuestras-soluciones")
        &&
        <div class="transition-all duration-300 group-hover:rotate-180">
          <ArrowDown />
        </div>
      }
    </a>
    :
    <button
      class="flex flex-row justify-center gap-2 items-center text-sm lg:text-base hover:text-blue-600
      text-colorBlue font-bold py-0 my-8 md:my-0 md:py-4 transition-all duration-200" aria-keyshortcuts={link}>
      <p class="text-center">
        {name}
      </p>
      {
        (link === "nuestras-soluciones")
        &&
        <div class="transition-all duration-300 group-hover:rotate-180">
          <ArrowDown />
        </div>
      }
    </button>
  }
  {
    link === "nuestras-soluciones"
    &&
    <HoverLinkIndustrias />
  }
    {
      link === "productos-servicios"
      &&
      <HoverLinkProductos />
    }
</li>
