---
import { Image } from "astro:assets"

const { name, description, images} = Astro.props
---

<a href={`/producto/${name}`} class="relative w-auto h-[400px] flex flex-row group border-2 hover:border-gray-400 hover:shadow-box-black rounded-md ">

    <div class="w-[350px] h-full z-10 transition-transform duration-500">
      <Image
        src={images[0]}
        alt={name}
        width="350"
        height="350"
        class="w-full h-full p-4 object-cover rounded-md group-hover:rounded-left brightness-75 group-hover:brightness-100"
        />
      <p class="block group-hover:hidden absolute bottom-0 left-0 rounded-lg text-2xl text-colorBlue bg-gray-100 font-semibold">{name}</p>
    </div>

    <div class="w-0 h-full -translate-x-full group-hover:translate-x-0 group-hover:w-[350px] overflow-hidden transition-all">
      <div class="text-colorBlue opacity-0 h-full group-hover:opacity-100 transition-opacity duration-300 group-hover:rounded-rigth p-4 border-1 border-gray-500">
        <h3 class="font-bold text-2xl py-2">{name}</h3>
        <p class="text-gray-500 text-xl font-normal">{description}</p>
      </div>
    </div>
  </a>